<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>
<div  class="navbar navbar-inverse  navbar-static-top navbar-inverse" role='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">BootstrapBay</a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> </button>
    </div>
   </div>
   </div>

<%= yield %>

</body>
</html>
